<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Express File Storage</title>
</head>
<body>
    <div class="container">
        <h1 class="display-1 mt-5 text-success text-center">Express File Storage</h1>

        <h2 class="mt-4">Upload File</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="file" name="file" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

        <h2 class="mt-4">File Storage</h2>
        <ul id="fileList" class="list-group">
        </ul>
    </div>

    <script>
        function populateFileListWithIcons() {
            fetch('/view')
                .then(response => response.json())
                .then(data => {
                    const fileList = document.getElementById('fileList');
                    fileList.innerHTML = '';

                    data.files.forEach(fileName => {
                        const listItem = document.createElement('li');
                        listItem.className = 'list-group-item d-flex justify-content-between align-items-center';

                        const fileExtension = fileName.split('.').pop();

                        const listFileName = document.createElement('h7');
                        listFileName.innerText = fileName;

                        const iconSpan = document.createElement('span');
                        iconSpan.className = 'me-3';
                        iconSpan.innerHTML = getFileIconHTML(fileExtension);

                        var deleteIcon = document.createElement('button');
                        deleteIcon.className = 'btn btn-danger'
                        deleteIcon.setAttribute('onclick',`deleteFile('${fileName}')`);
                        deleteIcon.innerHTML = '<i class="bi bi-trash3"></i>';

                        var fileLink = document.createElement('a');
                        fileLink.className = 'btn btn-warning';
                        fileLink.href = `/storage/${fileName}`;
                        fileLink.innerHTML = '<i class="bi bi-eye"></i>';

                        listItem.appendChild(iconSpan);
                        listItem.appendChild(listFileName);
                        listItem.appendChild(fileLink);
                        listItem.appendChild(deleteIcon)

                        fileList.appendChild(listItem);
                    });
                })
                .catch(error => console.error(error));
        }

        function getFileIconHTML(fileExtension) {
            const iconClasses = {
                pdf: 'bi bi-filetype-pdf',
                doc: 'bi bi-filetype-doc',
                docx: 'bi bi-filetype-docx',
                xls: 'bi bi-filetype-xls',
                xlsx: 'bi bi-filetype-xlsx',
                ppt: 'bi bi-filetype-ppt',
                pptx: 'bi bi-filetype-pptx',
                txt: 'bi bi-filetype-txt',
                jpg: 'bi bi-filetype-jpg',
                jpeg: 'bi bi-filetype-jpeg',
                png: 'bi bi-filetype-png',
                gif: 'bi bi-filetype-gif',
                default: 'bi bi-file-earmark'
            };

            return `<i class="${iconClasses[fileExtension.toLowerCase()] || iconClasses['default']}"></i>`;
        }

        function deleteFile(fileName){
        fetch(`/delete/${fileName}`,{
            method : 'DELETE'
        }).then(response=>response.text())
        .then(response=>{
            alert(response);
            populateFileListWithIcons();
        })
    }

        populateFileListWithIcons();
        
    </script>
</body>
</html>
